*{	
	padding: 0;
	margin: 0;  
	border: 0; 
}

*, *:before, *: after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav, footer, header, aside{display: block;}

html, body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0,border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*-----------------------------------------------------*/

body{
	background: url("../img/ellipse_1_copy_4.png") 50% 130px no-repeat, #e8e8e8;
	padding-top: 168px;
}

.content{
	max-width: 841px;
	margin:  0px auto;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #273d46;
	padding-bottom: 154px;
}

.content-top {
	text-align: center;
}
.content-top__subtitle {
	opacity: 0.6;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	margin-bottom: 14px;
}
.contetnt-top__title {
	font-family: 'Times New Roman';
	font-size: 36px;
	line-height: 50px;
	margin-bottom: 64px;
}
.content-image {
	box-shadow: 0px 15px 65px 0px rgba(15,16,16,0.15);
	background-color: #fff;
	padding: 10px;
}
.content-main {
	margin: 86px 0 0 44px;
}
.content-main-text {
	opacity: 0.8;
	font-family: 'Times New Roman';
	font-size: 24px;
	line-height: 40px;
	margin-bottom: 50px;
}
.content-main-info {
}
.content-main-info-list li {
	font-size: 20px;
	background: url("../img/icons/check_icon_37.png") left no-repeat;
	padding: 0 0 0 35px;

}
.content-main-info-list li:nth-child(1){
	text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
	margin-bottom: 13px;
}
.content-main-info-list li:nth-child(2){
	font-style: italic;
	color: #80b7b3;
	margin-bottom: 16px;
}
.content-main-info-list li:nth-child(3) { 
	font-weight: 700;
	margin-bottom: 15px;
}
.content-main-info-list li:nth-child(4) {
	text-decoration: line-through;
	margin-bottom: 62px;
}
.content-main-info-list li:nth-child(4) span {
	opacity:  0.3;
}
.content-main-info-button {
	height: 44px;
	display:  inline-block;
	font-size: 14px;
	line-height: 44px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #ffffff;
	border-radius:  24px;
	box-shadow: 0px 6px 40px 0px rgba(128,183,179,0.54);
	padding: 0 30px;
	background: #80b7b3;
}
.content-main-info-button span{
	padding-right: 30px;
	background: url("../img/icons/shape_2_9.png") right no-repeat;
}